html {
    height: -webkit-fill-available;
}

body {
    background-color: black;
    color: rgb(0, 180, 0);
    overflow: hidden;
    font-family: monospace;
    height: -webkit-fill-available;
}

a {
    text-decoration: underline;
    color: rgb(0, 180, 0);
}

#app {
    margin: auto;
    height: 100vh;
    vertical-align: middle;
    overflow: hidden;
}

#title {
    font-weight: bold;
}

#subtitle {
    font-weight: normal;
}

#contact-us {
    font-weight: normal;
}

#logo {
    height: 40pt;
}

@media (min-width: 0px) {
    #title {
        font-size: 15pt;
    }

    #subtitle {
        font-size: 12pt;
    }

    #contact-us {
        font-size: 12pt;
    }

    #logo {
        height: 10pt;
        padding-right: 3pt;
    }
    
    #app {
        width: 90%;
        padding: 45vh 0;
    }
}

@media (min-width: 240px) {
    #app {
        width: 90%;
        padding: 45vh 0;
    }

    #title {
        font-size: 20pt;
    }

    #subtitle {
        font-size: 12pt;
    }

    #contact-us {
        font-size: 12pt;
    }

    #logo {
        height: 10pt;
        padding-right: 3pt;
    }
}

@media (min-width: 300px) {
    #app {
        width: 90%;
        padding: 40vh 0;
    }

    #title {
        font-size: 35pt;
    }


    #subtitle {
        font-size: 15pt;
    }

    #contact-us {
        font-size: 15pt;
    }

    #logo {
        height: 20pt;
        padding-right: 5pt;
    }
}

@media (min-width: 700px) {
    #app {
        width: 75%;
        padding: 35vh 0;
    }

    #title {
        font-size: 50pt;
    }

    #subtitle {
        font-size: 20pt;
    }

    #contact-us {
        font-size: 20pt;
    }

    #logo {
        height: 30pt;
        padding-right: 5pt;
    }
}

@media (min-width: 1024px) {
    #app {
        width: 70%;
        padding: 35vh 0;
    }

    #title {
        font-size: 70pt;
    }

    #subtitle {
        font-size: 20pt;
    }

    #contact-us {
        font-size: 20pt;
    }

    #logo {
        height: 40pt;
        padding-right: 5pt;
    }
}