@font-face {
    font-family: "Xperia";
    src: url("../fonts/Xperia.ttf") /* TTF file for CSS3 browsers */
}

.avatar img {
    border-radius: 0;
}

body {
    font-family: monospace;
}

.navigation-title {
    font-family: "Xperia" !important;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.partners .partner {
    width: 25rem;
    align-self: center;
}