@font-face {
  font-family: "Xperia";
  src: url("../fonts/Xperia.ttf"); /* TTF file for CSS3 browsers */
}

.avatar img {
  border-radius: 0;
}

body {
  font-family: monospace;
}

.navigation-title {
  font-family: "Xperia" !important;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.customers .customer {
  width: 25rem;
  align-self: center;
  height: 10rem;
  margin-top: 2rem;
}

.customers .customer a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.customer img {
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .customers .customer {
    margin-top: 1rem;
  }

  .customers .customer a {
    display: flex;
    justify-content: start;
  }
}
