{{ define "content" }}
<div
  class="font-bold text-4xl md:text-6xl lg:text-8xl [text-wrap:balance] bg-clip-text flex flex-col grow justify-center items-center gap-8 min-h-full"
>
  <span
    class="inline-flex flex-col h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.6xl)*theme(lineHeight.tight))] lg:h-[calc(theme(fontSize.8xl)*theme(lineHeight.tight))] overflow-hidden"
  >
    <ul
      class="block animate-text-slide-{{ len .Site.Params.punchLines }} text-center leading-tight [&_li]:block"
    >
      {{ range $k, $v := .Site.Params.punchLines }}
      <li>{{ $v }}</li>
      {{ end }}
      <li aria-hidden="true">{{ index .Site.Params.punchLines 0 }}</li>
    </ul>
  </span>
  {{ partialCached "socials-minimal.html" . }}
</div>
{{ end }}
